.View {
    height: auto;
}
.App {
    width: 100%;
}
.Inside {
    width: 86%;
    height: 100%;
    top: 5%;
    left: 7%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
}
.Footer {
    width: 100%;
    height: 100px;
    border-top: 3px solid #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: ChivoLight;
    font-size: 17px;
    color: #8A8A8A;
    margin-top: 100px;

}


.navbar {
    font-family: ChivoLight;
    height: 50px;
    border-bottom: 3px solid #D9D9D9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    transition: border 200ms;   
}
.navbar:hover{
    border-bottom: 3px solid #E9ADB6;
}
.navbarPart {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 130px;
    
}
.navbarPart a { 
    text-decoration: none;
    color: #101211;
    transition: color 200ms;
}
.navbarPart a:hover{ 
    color: #E9ADB6;
}


.hero {
    width: 100%;
    border-bottom: 3px solid #D9D9D9;
    padding-bottom: 50px;
}
.hero-main {
    display: flex;
    flex-direction: column;
}
.hero-text {
    font-family: ChivoLight;
    font-size: 80px;
    color: #101211;
}
.hero-under-text {
    font-family: ChivoLight;
    font-size: 26px;
    color: #8A8A8A;
    margin-left: 4px;
}
.hero-logo {
    width: 100px;
    height: 100px;
    left: 190px;
    position: absolute;
}


.input {
    font-family: ChivoLight;
    height: 300px;
    border-bottom: 3px solid #D9D9D9;
    padding-top: 20px;
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-bottom: 50px;
}
.input-text-area {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
}
.input-text {
    width: 100%;
    text-align: right;
    font-size: 50px;
    color: #101211;
}
.input-under-text {
    font-size: 18px;
    color: #8A8A8A;
    width: 100%;
    text-align: right;
}
.input-name {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}
.input-name-text{
    font-size: 25px;
    color: #626262;
    margin-bottom: 8px;
    width: 130px;
}
.input-name-field{
    font-family: ChivoLight;
    background-color: #EBEBEB;
    display: flex;
    justify-content: center;
    width:100%;
    font-size: 25px;
    border-radius: 10px;
    border: 3px solid #D9D9D9;
    resize: none;
    padding: 5px;
    transition: border 200ms;
}
.input-name-field:focus {
    border: 3px solid #E9ADB6;
    outline: none;
}
.input-description {
    font-family: ChivoLight;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.input-description-text{
    font-size: 25px;
    color: #626262;
    width: 130px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
}
.input-description-field{
    font-family: ChivoLight;
    background-color: #EBEBEB;
    display: flex;
    justify-content: center;
    width:100%;
    height:100%;
    border-radius: 10px;
    border: 3px solid #D9D9D9;
    resize: none;
    padding: 5px;
    font-size: 25px;
    transition: border 200ms;
}
.input-description-field:focus{
    border: 3px solid #E9ADB6;
    outline:none;
}
.input-submit{
    font-size: 18px;
    color: #e8b1b9;
    width: 10%;
    right:0;
    bottom:30px;
    position: absolute;
    border-radius: 10px;
    border: 3px solid #D9D9D9;
    padding: 10px;
    text-align: center;
    transition: border 200ms;
}
.input-submit:hover{
    border: 3px solid #E9ADB6;
}
.quote-book{
    font-family: ChivoLight;
    font-size: 80px;
    color: #101211;
    margin-top: 50px;
    text-align: center;

}
.quote{
    font-family: ChivoLight;
    width: 50%;
    left: 25%;
    font-size: 17px;
    color: #575757;
    margin-bottom: 100px;
    text-align: center;
    border-top: 3px solid #D9D9D9;
    position: relative;
}
.quote-name{
    font-family: Chivo;
    font-size: 18px;
    color: #101211;
}
.quote-time{
    font-family: ChivoLight;
    font-size: 15px;
    color: #8A8A8A;

}

.options{
    width: 50%;
    left: 25%;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: end;
    gap: 20px;
    margin-bottom: -10px;
    margin-top: 50px;
}
.options-times{
    font-family: ChivoLight;
    color: #101211;
    text-align: center;
    border: 3px solid #D9D9D9;
    border-radius: 10px;
    padding: 10px;
    transition: border 200ms;
}
.options-times:hover {
    border: 3px solid #E9ADB6;
}
.options-block{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}