@font-face {
	font-family: Chivo;
	src: url(public/Chivo-Regular.ttf);
}
@font-face {
	font-family: ChivoThin;
	src: url(public/Chivo-Thin.ttf);
}
@font-face {
	font-family: ChivoLight;
	src: url(public/Chivo-Light.ttf);
}
:root {
	font-family: Chivo, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	background-color: #EBEBEB;
	width: 100%;
	height: 100%;
}